@using Microsoft.AspNetCore.Identity
@using iBDZ.Data;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center">Welcome to iBDZ!</h1>
<h4 class="text-center">Your first stop for your train needs.</h4>

<br />

<style>
    fieldset {
        padding: 15px;
    }

    legend {
        border: none;
        width: auto;
        margin: 0 auto;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 27pt;
    }

    #TimetablePanel {
        background-image: url("/images/train4.jpg")
    }

    hr {
        border-top-color: #aaaaaa;
    }
</style>

<div class="text-center">
    <fieldset style="border: 1px black solid;">
        <legend>Our Services</legend>

        <div class="MyPanel" id="TimetablePanel" onclick="window.location.href = '/Train/Timetable'">
            <p class="MyPanelText">
                Have a look at the timetable for information on trains.
            </p>
        </div>

        @if (SignInManager.IsSignedIn(User))
        {
            <style>
                #FindSeatsPanel {
                    background-image: url("/images/kupe.png");
                }

                #PurchasesPanel {
                    background-image: url("/images/wallet.png");
                }
            </style>

            <div class="MyPanel" id="FindSeatsPanel" onclick="window.location.href = '/Seat/Find'">
                <p class="MyPanelText">
                    Find and reserve seats for your next trip.
                </p>
            </div>

            <div class="MyPanel" id="PurchasesPanel" onclick="window.location.href = '/User/Purchases'">
                <p class="MyPanelText">
                    Review your purchases.
                </p>
            </div>
        }
        else
        {
            <hr />

            <h2>You don't seem to be logged into your account.</h2>
            <h3>Get access to more features by logging in or registering.</h3><br />
            <div class="MyButton" onclick="window.location.href = '/Identity/Account/Login'"><h2>Login</h2></div>
            <div class="MyButton" onclick="window.location.href = '/Identity/Account/Register'"><h2>Register</h2></div>
        }
        @if (User.IsInRole("Administrator") || User.IsInRole("SuperUser"))
        {
            <style>
                #UsersPanel {
                    background-image: url("/images/users.png")
                }
            </style>
            <div class="MyPanel" id="UsersPanel" onclick="window.location.href = '/Admin/Users'">
                <p class="MyPanelText">
                    Look at the application's users.
                </p>
            </div>

        }
    </fieldset>
</div>

