@using Microsoft.AspNetCore.Identity
@using iBDZ.Data;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center">Welcome to iBDZ!</h1>
<h4 class="text-center">Your first stop for your train needs.</h4>

<br />
<br />
<br />

<div>
    <h3 class="text-center">Train information:</h3>
    <h3 class="text-center"><a href="/Train/Timetable">Timetable</a></h3>
</div>

<br />

@if (SignInManager.IsSignedIn(User))
{

}
else
{
    <div class="text-justify">
        <h2>You don't seem to be logged in.</h2>
        <a href="/Identity/Account/Login" class="text-primary"><h3>Click here to login.</h3></a>
        <a href="/Identity/Account/Register" class="text-primary"><h3>Click here to register with our service.</h3></a>
    </div>
}